<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center h-100">
        <div class="col-md-6 col-lg-6 col-xl-6 content-login-img text-center">
          <img
            src="../../../assets/login-img.jpeg"
            class="img-fluid"
            alt="login" />
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
          <div class="d-flex flex-row mb-3 ms-5">
            <div class="logo-img p-2">
            </div>
          </div>
          <div class="card p-4 login-form ms-5">
            <form [formGroup]="form">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">E-mail</label>
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  class="form-control form-control-lg" />
              </div>
              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="password">
                  Senha
                </label>
                <input
                  formControlName="senha"
                  type="password"
                  id="password"
                  class="form-control form-control-lg" />
              </div>
              <!-- Button submit -->
              <div
                class="d-flex align-items-center mt-4 h-100 justify-content-center">
                <button class="btn btn-color-brand-primary-black border-color-brand-primary-black" (click)="login()">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>