<div class="container">
  <div class="cards">
    <div class="card mr-5">
      <img class="img" src="../../../assets/locacao.jpeg" alt="">
      <p class="title"><strong>Locações</strong></p>
      <p>Gerencie suas locações aqui</p>
      <button type="button" routerLink="/locacoes" class="btn btn-primary">Acessar</button>
    </div>
    <div class="card mr-5">
      <img class="img" src="../../../assets/cliente.jpeg" alt="">
      <p class="title"><strong>Clientes</strong></p>
      <p class="text">Gerencie seus clientes aqui</p>
      <button type="button" routerLink="/clientes" class="btn btn-primary">Acessar</button>
    </div>
    <div class="card">
      <img class="img" src="../../../assets/titulos.jpeg" alt="">
      <p class="title"><strong>Títulos</strong></p>
      <p>Gerencie seus títulos aqui</p>
      <button type="button" routerLink="/titulos" class="btn btn-primary">Acessar</button>
    </div>
  </div>
</div>