<h1 mat-dialog-title>Aluguel de Título</h1>

<div mat-dialog-content>
  <span class="titulo">Título: {{data.titulo.name}}</span>
  <div class="mt-2">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione o cliente" [(ngModel)]="selectedValue">
      <nz-option *ngFor="let option of data.clientes" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
    </nz-select>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="selectedValue" cdkFocusInitial>Ok</button>
</div>